In [33]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [2]:
# set up the data
df = pd.read_csv('energydata_complete.csv')
df.head(10)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.20,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.20,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.20,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.20,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.20,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.20,44.500000,19.79,44.933333,18.890000,...,17.000000,45.29,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.20,44.500000,19.79,44.900000,18.890000,...,17.000000,45.29,5.900000,734.100000,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.20,44.500000,19.73,44.900000,18.890000,...,17.000000,45.29,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.20,44.433333,19.73,44.790000,18.890000,...,17.000000,45.29,5.933333,734.233333,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.23,44.400000,19.79,44.863333,18.890000,...,17.000000,45.29,5.950000,734.300000,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [4]:
# Convert df.date to datetime
df['date'] = pd.to_datetime(df['date'])

In [5]:
np.set_printoptions(precision = 2)

In [6]:
# NUmber 17
# divide the columns into dependent and independent variables
X =  df[['T2']]
Y = df['T6']

# SPlit the dataset 
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)


# Initialize the model
model = LinearRegression()
model.fit(x_train, y_train)

# Make prediction
y_pred = model.predict(x_test)

# Calculate the MSE
mse = mean_squared_error(y_test, y_pred)

# Root Mean Squared Error
rmse = np.sqrt(mse)
print("Root Mean Squared Error :", round(rmse, 2))

Root Mean Squared Error : 3.62

In [7]:
# Number 18

# Remove 'date' and 'lights' columns 
df = df.drop(columns = ['date', 'lights'])

# divide dataset into featurs and target
features = df.drop(columns = ['Appliances'])
target = df['Appliances']

# Split dataset into train and test set
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.3, random_state = 42)

# Initialize minmax scaler
minmax = MinMaxScaler()
x_train_transform = minmax.fit_transform(X_train)
x_test_transform = minmax.transform(X_test)

lr = LinearRegression()
lr.fit(x_train_transform, y_train)

y_train_pred = lr.predict(x_train_transform)

# Mean Absolute Error
mae = mean_absolute_error(y_train_pred, y_train)
print("Mean Absolute Error (Training Set): {:.3f}".format(mae))

Mean Absolute Error (Training Set): 53.742

In [25]:
# Number 19
# Root Mean Square Error
mse = mean_squared_error(y_train_pred, y_train)
rmse = np.sqrt(mse)
print("RMSE for train set:", round(rmse, 3))

RMSE for train set: 95.216

In [22]:
# Number 20

y_test_pred = lr.predict(x_test_transform)
# MAE for test test
mae = mean_absolute_error(y_test_pred, y_test)
print("Mean Absolute Error (Test Set): {:.3f}".format(mae))

Mean Absolute Error (Test Set): 53.643

In [26]:
# Number 21
# Root Mean Square Error
mse = mean_squared_error(y_test_pred, y_test)
rmse = np.sqrt(mse)
print("RMSE for test set:", round(rmse, 3))

RMSE for test set: 93.64

The different in RMSE between the training and test set is 1.576 indicates that model generalizes significantly well. The answer is **No**.

In [31]:
# Numner 23
ridge = Ridge()
ridge.fit(X_train, y_train)

ridge_pred = ridge.predict(X_test)

mse = mean_squared_error(ridge_pred, y_test)
rmse = np.sqrt(mse)
print("RMSE for train set:", round(rmse, 3))

RMSE for train set: 93.641

**24 --- Answer**:
There is no change in Root Mean Square Error when evaluated with rige regression on the test set.

In [36]:
# Number 24
lasso = Lasso()
lasso.fit(X_train, y_train)

# Get the coefficients of the features
feature_weights = lasso.coef_

# Count the number of features with non-zero weights
non_zero_features = sum(feature_weights != 0)

print("Number of features with non-zero weights:", non_zero_features)

Number of features with non-zero weights: 21

In [37]:
# Number 25

lasso_pred = lasso.predict(X_test)
mse = mean_squared_error(lasso_pred, y_test)
rmse = np.sqrt(mse)
print("RMSE for train set:", round(rmse, 3))

RMSE for train set: 93.892